<a href="https://colab.research.google.com/github/CeciliaBotelho/AppointmentBookProject/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Teste MaxiQuim
#Cecilia Botelho

## Importar bibliotecas

In [ ]:
import pandas as pd

## Download CSV

In [ ]:
!wget -O "dataset.csv" "https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/ppgn-el/producao-petroleo-m3-1997-2022.csv"

--2023-02-06 11:45:43--  https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/ppgn-el/producao-petroleo-m3-1997-2022.csv
Resolving www.gov.br (www.gov.br)... 161.148.164.31
Connecting to www.gov.br (www.gov.br)|161.148.164.31|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 401365 (392K) [text/csv]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>] 391.96K   117KB/s    in 3.3s

2023-02-06 11:45:48 (117 KB/s) - ‘dataset.csv’ saved [401365/401365]

## Importar CSV

In [ ]:
df = pd.read_csv('dataset.csv', sep=';')

Nessa linha li o dataset, solicitado e guardei dentro de uma variavél chamada df. O ";" indica que cada valor é separado por ponto e vírgula. Retornando um dataframe, que é uma estrutura de dados tabular.


---

##Filtrando por ano

In [ ]:
df_2021 = df[df['ANO'] == 2021]

Ja nessa linha filtrei o dataset para aparecer so as informações do ano de 2021

##Somando os dados da produção de 2021

In [ ]:
coluna = pd.to_numeric(df_2021['PRODUÇÃO'].str.replace(',', '.'), errors='raise')
soma = coluna.sum()

Atribuir a coluna o resultado da soma de produção de 2021 por m^3(os dados ja estavam em m^3)

Converti para tipo numerico, com pd.to_numeric.

Também converti as virgulas para pontos, com str.replace para ter certeza que os dados vão ser interpretados como numeros.

##Printando a resposta da soma da produção

In [ ]:
print("A soma da coluna '{}' é {}".format(coluna.name, soma))

A soma da coluna 'PRODUÇÃO' é 168585220.83203